.make-details-info {
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    &__logo {
      margin-top: 1rem;
      &-img {
        background-color: var(--surface-500);
        width: 200px;
        height: 200px;
      }
    }
  
    &__logo-img {
      margin-bottom: 1rem;
      width: 200px;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    &__td-actions {
      display: flex;
      :first-child {
        margin-right: 0.5rem;
      }
    }

    &__upload-btns {
      display: flex;
      :first-child, :nth-child(2) {
        margin-right: 0.5rem;
      }
    }
  }