.make-details-info {
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    &__logo {
      margin-top: 1rem;
      &-img {
        background-color: var(--surface-500);
        width: 200px;
        height: 200px;
      }
    }
  
    &__logo-img {
      margin-bottom: 1rem;
    }
  
    &__td-actions {
      display: flex;
      :first-child {
        margin-right: 0.5rem;
      }
    }
  }