<div class="make-details-info" *ngIf="makeData$ | async as data">
  <p-card>
    <p class="medium-text error-text">{{ errorImageType$ | async }}</p>
    <div class="make-details-info__content">
      <div class="make-details-info__info medium-text">
        <app-label-text label="Make Name:" [text]="data.makeName"></app-label-text>
        <app-label-text label="Status:" text="{{ data.active | active }}"></app-label-text>
        <app-label-text label="Origin:" [text]="data.origin"></app-label-text>
        <app-label-text *ngIf="data.company" label="Company:" [text]="data.company"></app-label-text>
        <app-label-text *ngIf="!data.company" label="Company:" text="-"></app-label-text>
        <app-label-text *ngIf="data.yearFounded" label="Year Founded:" [text]="data.yearFounded.toString()"></app-label-text>
        <app-label-text *ngIf="!data.yearFounded" label="Year Founded:" text="-"></app-label-text>
        <app-label-text label="Date Created:" text="{{ data.createdAt | formatDate }}"></app-label-text>
        <app-label-text label="Date Updated:" text="{{ data.updatedAt | formatDate }}"></app-label-text>
      </div>
      <div class="make-details-info__info-btn">
        <app-button label="Edit Make" (click)="openEditModal()"></app-button>
      </div>
      <div class="make-details-info__logo">
        <div class="make-details-info__logo-img">
          <img
            *ngIf="makeImage && !loadingImage"
            [src]="previewImage.url"
            [alt]="previewImage.alt"
            [id]="previewImage.id"
          />
          <img
            *ngIf="makeLogoUrl$ && !makeImage && !loadingImage"
            [src]="makeLogoUrl$"
          />
          <!-- <div *ngIf="loadingImage">Loading...</div> -->
        </div>
        <div class="make-details-info__upload-btns">
          <app-button
            label="Upload Logo"
            [isUpload]="true"
            (onFileChange)="onUpload($event)"
          ></app-button>
          <app-button
            label="Save Logo"
            (click)="saveLogo()"
            *ngIf="showButtons"
          ></app-button>
          <app-button
            *ngIf="showButtons"
            label="Remove Image"
            (click)="removeImage()"
            color="danger"
          ></app-button>
        </div>
      </div>
    </div>
  </p-card>
</div>
