<p-card class="model-categories-table" *ngIf="modelCategoriesData$ | async as modelCategoriesData">
    <app-page-header text="Categories"></app-page-header>
    <p-table
      [value]="modelCategoriesData"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
      dataKey="id"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 25%">Category Name</th>
          <th style="width: 25%">Status</th>
          <th style="width: 25%">Created At</th>
          <th style="width: 25%">Last Update</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{ data.type }}</td>
          <td>{{ data.active | active }}</td>
          <td>{{ data.createdAt | formatDate }}</td>
          <td *ngIf="data.updatedAt">{{ data.updatedAt | formatDate  }}</td>
          <td *ngIf="!data.updatedAt">-</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>