.view-models-export-data {
    &__export-type {
      margin-top: 1rem;
    }
  
    &__columns {
      &-rows {
        display: flex;
        div {
          margin-right: 2rem;
        }
      }
    }
  }
  