<app-dialog
  [visible]="showDialog"
  title="Edit Model Category"
  (onHide)="closeEditModal()"
  (onSubmit)="confirmModal()"
>
<p class="error-text medium-text" *ngIf="errorText$ | async as errorText">{{ errorText }}</p>
 <form [formGroup]="editMcForm">
  <app-input label="Type" name="type" [error]="editMcForm.get('errorTypeText')?.getRawValue()">
    <input
      pInputText
      id="type"
      aria-describedby="username-help"
      class="p-inputtext-sm form-input-margin-b"
      formControlName="type"
      [ngClass]="{ errorBorder: editMcForm.get('errorTypeText')?.getRawValue()}"
    />
  </app-input>
  <app-input label="Status" name="active" [isCheckBox]="true">
    <p-checkbox
      [binary]="true"
      inputId="active"
      formControlName="active"
    ></p-checkbox>
  </app-input>
 </form>
</app-dialog>
<p-toast></p-toast>


