<div class="make-details" *ngIf="makeData$ | async as data">
  <app-page-header text="Make Details"></app-page-header>
  <p-card>
    <div class="make-details__content">
      <div class="make-details__info medium-text">
        <p>
          <span class="dark-label bold-text">Make Name:</span>
          {{ data.makeName }}
        </p>
        <p>
          <span class="dark-label bold-text">Active:</span>
          {{ data.active | active }}
        </p>
        <p>
          <span class="dark-label bold-text">Origin:</span> {{ data.origin }}
        </p>
        <p>
          <span class="dark-label bold-text">Date Created:</span>
          {{ data.createdAt | formatDate }}
        </p>
        <p *ngIf="data.updatedAt">
          <span class="dark-label bold-text">Last Modified:</span>
          {{ data.updatedAt | formatDate }}
        </p>
        <p *ngIf="!data.updatedAt">
          <span class="dark-label bold-text">Last Modified:</span>
          -
        </p>
        <app-button label="Edit Make" (click)="openEditModal()"></app-button>
      </div>
      <div class="make-details__logo">
        <div class="make-details__logo-img"></div>
        <app-button label="Upload Photo" [isUpload]="true"></app-button>
      </div>
    </div>
  </p-card>

  <app-horizontal-line></app-horizontal-line>
  <div *ngIf="modelData$ | async as modelData">
    <p-card>
      <app-page-header text="Models"></app-page-header>
      <p-table
        [value]="modelData"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]"
        dataKey="id"
        styleClass="p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 25%">Model Name</th>
            <th style="width: 25%">Status</th>
            <th style="width: 25%">Body Type</th>
            <th style="width: 25%">Created At</th>
            <th style="width: 25%">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-modelData>
          <tr>
            <td>
              <a [routerLink]="'/brands/model/' + data.id">{{
                modelData.modelName
              }}</a>
            </td>
            <td>{{ data.active | active }}</td>
            <td>-</td>
            <td>{{ data.createdAt | formatDate }}</td>
            <td class="make-details__td-actions">
              <app-button
                color="success"
                label="Activate"
                size="small"
                *ngIf="!data.active"
              ></app-button>
              <app-button
                color="secondary"
                label="Deactivate"
                size="small"
                *ngIf="data.active"
              ></app-button>
              <app-button
                color="danger"
                label="Delete"
                size="small"
              ></app-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<app-dialog
  [visible]="editDialog"
  title="Edit Make"
  (onHide)="closeEditModal()"
>
  <form>
    <app-input label="Make name" name="makeName">
      <input
        pInputText
        id="makeName"
        aria-describedby="username-help"
        class="p-inputtext-sm"
      />
    </app-input>
    <app-input label="Origin" name="origin">
      <input
        pInputText
        id="origin"
        aria-describedby="username-help"
        class="p-inputtext-sm"
      />
    </app-input>
    <app-input label="Status" name="status">
      <p-checkbox [binary]="true" inputId="status"></p-checkbox>
    </app-input>
  </form>
</app-dialog>
