<div class="model-details">
  <app-page-header text="Model Details"></app-page-header>
  <app-model-details-info
    [modelData]="modelData"
    [openEditModal]="openEditModal.bind(this)"
  ></app-model-details-info>
  <div class="form-btns-mt form-btns-right">
    <app-button
      label="Delete Model"
      color="danger"
      (click)="openDeleteDialog($event)"
    ></app-button>
  </div>
</div>

<app-edit-model-modal
  [showDialog]="editDialog"
  (dialogClosed)="closeEditModal()"
  (closeEditModalSuccess)="closeEditModalSuccess()"
  [id]="id"
></app-edit-model-modal>
<p-confirmDialog></p-confirmDialog>
