<div class="create-multiple-makes-form">
    <p-card>
      <form (ngSubmit)="handleSubmit()">
        <p class="error-text medium-text">{{ errorText }}</p>
        <div>
          <p class="medium-text">Select a Spreadsheet or CSV file to upload.</p>
          <p class="medium-text">
            Files must contain the following columns in the following order:
          </p>
          <p class="download-link" (click)="downloadTemplate()">Download create makes spreadsheet template</p>
        </div>
        <app-button
          label="Upload File"
          [isUpload]="true"
          (onFileChange)="onFileChange($event)"
          [fileName]="fileName"
        ></app-button>
        <div class="create-multiple-makes-form__action-btns">
          <app-button
            type="button"
            label="Clear"
            color="danger"
            (click)="clearForm()"
          ></app-button>
          <app-button type="submit" label="Save"></app-button>
        </div>
      </form>
    </p-card>
  </div>
  <p-toast></p-toast>
