.view-makes-table {
    &__actions {
      display: flex;
      app-button {
        margin-right: 0.5rem;
      }
    }
    &__btn {
      text-align: end;
      margin-top: 1rem;
    }
    &__activate-actions {
      app-button{
        margin-right: 0.5rem;
      }
    }
  }
  