<div *ngIf="brandsData$ | async as brandsData">
  <div *ngIf="brandsData.data" class="view-makes-table">
    <div class="form-btns-mb view-makes-table__activate-actions">
      <app-button
        [label]="textSelectAll ? 'Select All' : 'Unselect All'"
        (click)="selectAll()"
      ></app-button>
      <app-button
        label="Activate Makes"
        (click)="openStatusDialog($event, 'activate')"
      ></app-button>
      <app-button
        label="Deactivate Makes"
        (click)="openStatusDialog($event, 'deactivate')"
      ></app-button>
    </div>
    <p-card>
      <p-table
      [paginator]="true"
        [value]="brandsData.data | deepCopy"
        [first]="first"
        [lazy]="true"
        [lazyLoadOnInit]="false"
        (onLazyLoad)="getMakes($event)"
        [rows]="rows"
        [totalRecords]="brandsData.total"
        [rowsPerPageOptions]="[10, 20, 50]"
        [showCurrentPageReport]="true"
        [showPageLinks]="true"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="makeName" style="width: 25%">
              Make Name <p-sortIcon field="makeName" />
            </th>
            <th pSortableColumn="origin" style="width: 25%">
              Origin <p-sortIcon field="origin" />
            </th>
            <th pSortableColumn="active" style="width: 25%">
              Active <p-sortIcon field="active" />
            </th>
            <th pSortableColumn="createdAt" style="width: 25%">
              Created At <p-sortIcon field="createdAt" />
            </th>
            <th style="width: 25%">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>
              <a [routerLink]="'/brands/make/' + data.id">{{
                data.makeName
              }}</a>
            </td>
            <td>{{ data.origin }}</td>
            <td>{{ data.active | active }}</td>
            <td>{{ data.createdAt | formatDate }}</td>
            <td class="view-makes-table__actions">
              <p-checkbox
                [ngModel]="checkId(data.id)"
                [binary]="true"
                inputId="binary"
                (click)="
                  handleCheckbox({ id: data.id, makeName: data.makeName })
                "
              ></p-checkbox>
            </td>
          </tr>
        </ng-template>
     
      </p-table>
      
    </p-card>
    <div class="view-makes-table__btn">
      <app-button
        color="success"
        label="Export to Spreadsheet"
        icon="bx bx-spreadsheet"
      ></app-button>
    </div>
  </div>
</div>
