<app-dialog
  [visible]="showDialog"
  title="Edit Make"
  (onHide)="closeDialog()"
  (onSubmit)="confirmModal()"
>
  <form [formGroup]="editMakeFormGroup">
    <app-input label="Make name" name="makeName">
      <input
        pInputText
        id="makeName"
        aria-describedby="username-help"
        class="p-inputtext-sm form-input-margin-b"
        formControlName="makeName"
      />
    </app-input>
    <div
      *ngIf="countriesList$ | async as countriesList; else nocountrylist"
      [ngStyle]="{ marginBottom: '1rem' }"
    >
      <app-input label="Origin" name="origin">
        <p-dropdown
          name="make"
          [options]="countriesList"
          optionLabel="name"
          optionValue="code"
          [showClear]="true"
          [editable]="false"
          formControlName="origin"
          [editable]="true"
        ></p-dropdown>
      </app-input>
    </div>
    <ng-template #nocountrylist>
      <div [ngStyle]="{ marginBottom: '1rem' }">
        <app-input label="Origin" name="origin">
          <p-dropdown
            name="make"
            [options]="[]"
            optionLabel="name"
            optionValue="code"
            [showClear]="true"
            [editable]="false"
            formControlName="origin"
            [editable]="true"
          ></p-dropdown>
        </app-input>
      </div>
    </ng-template>

    <app-input label="Company" name="company">
      <input
        pInputText
        id="company"
        aria-describedby="username-help"
        class="p-inputtext-sm form-input-margin-b"
        formControlName="company"
        className="form-input-margin-b"
      />
    </app-input>

    <app-input label="Year Founded" name="yearFounded">
      <input
        pInputText
        id="yearFounded"
        aria-describedby="username-help"
        class="p-inputtext-sm form-input-margin-b"
        formControlName="yearFounded"
      />
    </app-input>
    <app-input label="Status" name="active" [isCheckBox]="true">
      <p-checkbox
        [binary]="true"
        inputId="active"
        formControlName="active"
      ></p-checkbox>
    </app-input>
  </form>
</app-dialog>
