<app-loading [loading]="loading"></app-loading>
<app-dialog
  [visible]="showDialog"
  title="Edit Model"
  (onHide)="closeDialog()"
  (onSubmit)="confirmModal()"
>
  <p class="error-text medium-text" *ngIf="editError$ | async as editError">{{ editError }}</p>
  <form [formGroup]="editModelFormGroup">
    <app-input label="Model name" name="modelName">
      <input
        pInputText
        id="modelName"
        aria-describedby="username-help"
        class="p-inputtext-sm form-input-margin-b"
        formControlName="modelName"
      />
    </app-input>
    <div
      *ngIf="makesList$ | async as makesList; else nomakeslsit"
      [ngStyle]="{ marginBottom: '1rem' }"
    >
      <app-input label="Makes" name="make">
        <p-dropdown
          name="make"
          [options]="makesList"
          optionLabel="name"
          optionValue="code"
          [showClear]="true"
          [editable]="false"
          formControlName="makeId"
          [editable]="true"
        ></p-dropdown>
      </app-input>
    </div>
    <ng-template #nomakeslsit>
      <div [ngStyle]="{ marginBottom: '1rem' }">
        <app-input label="Makes" name="make">
          <p-dropdown
            name="make"
            [options]="[]"
            optionLabel="name"
            optionValue="code"
            [showClear]="true"
            [editable]="false"
            formControlName="makeId"
            [editable]="true"
          ></p-dropdown>
        </app-input>
      </div>
    </ng-template>

    <app-input label="Year Founded" name="yearFounded">
      <input
        pInputText
        id="yearFounded"
        aria-describedby="username-help"
        class="p-inputtext-sm form-input-margin-b"
        formControlName="yearFounded"
      />
    </app-input>
    <app-input label="Status" name="active" [isCheckBox]="true">
      <p-checkbox
        [binary]="true"
        inputId="active"
        formControlName="active"
      ></p-checkbox>
    </app-input>
  </form>
</app-dialog>
