.create-make {
  &__header-btn {
    margin-bottom: 1rem;
    app-button {
      margin-right: 0.5rem;
    }
  }

  &__content {
    margin-bottom: 2rem !important;

    &-card {
      &-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
    }
  }

  &__actions {
    margin-top: 1rem;
    text-align: right;
  }

  &__form-btns {
    app-button {
      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  &__upload-btns {
    display: flex;
    app-button {
      margin-right: 0.5rem;
    }
  }

  &__upload-image {
    width: 200px;
    height: 200px;
    margin: 0.5rem 0;

    img {
      height: 100%;
      width: 100%;
    }
  }

  form {
    span.error-text {
      padding-bottom: 0.5rem;
      display: block;
    }
  }
}


