<app-page-header text="View Models"></app-page-header>
<div class="view-models__filter">
  <app-view-models-filters
    [handleFilter]="getModels.bind(this)"
    [filterData]="filterData"
    [resetFilters]="resetFilters.bind(this)"
  ></app-view-models-filters>
</div>
<app-view-models-table
  [getModels]="getModels.bind(this)"
  [idsData]="idsData"
  [modelsData$]="modelsData$"
  [loading]="loading"
  [textSelectAll]="textSelectAll"
  [openStatusDialog]="openStatusDialog.bind(this)"
  [selectAll]="selectAll.bind(this)"
  [checkId]="checkId.bind(this)"
  [handleCheckbox]="handleCheckbox.bind(this)"
></app-view-models-table>
<div class="view-models__export">
  <app-view-models-export-data
    [exportData]="exportData"
    [exportType]="exportType"
    [handleExportType]="handleExportType.bind(this)"
    [handleExport]="handleExport.bind(this)"
  ></app-view-models-export-data>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
