<app-page-header text="Create Makes Spreadsheer/CSV"></app-page-header>
<div class="create-multiple-makes">
  <p-card>
    <form>
      <div>
        <p class="medium-text">Select a Spreadsheet or CSV file to upload.</p>
        <p class="medium-text">Files must contain the following columns in the following order:</p>
        <p class="medium-text">Ex - [make_name, origin]</p>
      </div>
      <app-button
        label="Upload File"
        [isUpload]="true"
        (onFileChange)="onFileChange($event)"
        [fileName]="fileName"
      ></app-button>
      <div class="create-multiple-makes__action-btns">
        <app-button type="button" label="Clear" color="danger" (click)="clearForm()"></app-button>
        <app-button type="submit" label="Save"></app-button>
      </div>
    </form>
  </p-card>
</div>
