/* You can add global styles to this file, and also import other style files */
@import "./assets/theme/appTheme/theme.scss";
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover{
    color: #000;
    text-decoration: underline;
  }
}

input {
  display: block;
  width: 100%;
}

td{
  font-size: 14px;
}
th{
  font-size: 15px;
}

.align-right{
  text-align: right;
}

.medium-text {
  font-size: 14px;
}

span.p-button-label, span.p-button-icon{
  font-weight: bold; 
}

.error-text {
  color: red;
}

.errorBorder {
  border: 1px solid red;
}

.bold-text {
  font-weight: bold;
}

.dark-label, th {
  color:#000;
}

.form-input-margin-t {
  margin-top: 1rem !important;
}

.form-btns-mt {
  margin-top: 1rem;
}

.form-btns-mb {
  margin-bottom: 1rem;
}

.form-btns-right {
  text-align: right;
}

.p-inputtext.ng-dirty.ng-invalid {
  border-color: none !important;
}

.download-link {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 14px;

  &:hover{
    text-decoration: underline;
  }
}

.p-calendar {
  width: 100%;
  .p-inputtext {
    font-size: 14px;
    padding: 0.4375rem 0.4375rem;
  }
}

/* Custom class for opening the dropdown upwards */
.dropdown-up .p-dropdown-panel {
  transform: translateY(-100%);
  bottom: 100%;
  top: auto !important;
}

