<div class="view-makes">
  <app-loading [loading]="loading"></app-loading>
  <app-page-header text="View Makes"></app-page-header>
  <div class="view-makes__filters">
    <app-view-makes-filters
      [handleFilter]="getMakes.bind(this)"
      [filterData]="filterData"
      [resetFilters]="resetFilters.bind(this)"
    />
  </div>
  <app-view-makes-table
    [getMakes]="getMakes.bind(this)"
    [idsData]="idsData"
    [openStatusDialog]="openStatusDialog.bind(this)"
    [brandsData$]="brandsData$"
    [textSelectAll]="textSelectAll"
    [selectAll]="selectAll.bind(this)"
    [first]="first"
  ></app-view-makes-table>
  <div class="view-makes__export">
    <app-view-makes-export-data
      [exportData]="exportData"
      [exportType]="exportType"
      [handleExportType]="handleExportType.bind(this)"
      [handleExport]="handleExport.bind(this)"
    ></app-view-makes-export-data>
  </div>

  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
</div>
